:root{
    --background-image: url(/src/assets/image/home/background-home-desktop.jpg);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}

body{
    background-image: var(--background-image);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;
}
